{% load static %}

<a href="#{{ note.title }}" class="flex flex-col bg-gray-50 rounded-xl shadow-lg">
    {% if note.course %}
        <div class="flex bg-{{ note.course.color }} px-3 py-1.5 rounded-t-xl">
            <p class="text-gray-50 font-semibold">{{ note.course }}</p>
        </div>
    {% endif %}

    <div class="flex flex-col p-4 gap-3">
        <div class="flex flex-col gap-1">
            <h1 class="text-xl text-gray-700 font-semibold">{{ note.title }}</h1>
            <p class="text-sm text-gray-500">by {{ note.created_by.first_name }} {{ note.created_by.last_name }}</p>
        </div>

        <div class="">
            <p class="text-gray-700">
                {{ note.content }}
            </p>
        </div>
    </div>

    <div class="flex justify-between px-4 py-2 border-t-2 border-gray-200">
        <p class="text-gray-500 text-sm">{{ note.modified_at|timesince }} ago</p>

        <div class="flex gap-3">
            <div class="flex gap-0.5 items-center">
                <img src="{% if request.user in note.likes.all %}{% static 'core/icons/thumbed_up.svg' %}{% else %}{% static 'core/icons/thumb_up.svg' %}{% endif %}" alt="thumb_up">
                <p class="text-sm {% if request.user in note.likes.all %}text-yellow-500 font-medium{% else %}text-gray-500{% endif %}">{{ note.likes.count }}</p>
            </div>

            <div class="flex gap-0.5 items-center">
                <img src="{% if request.user in note.dislikes.all %}{% static 'core/icons/thumbed_down.svg' %}{% else %}{% static 'core/icons/thumb_down.svg' %}{% endif %}" alt="thumb_down">
                <p class="text-sm {% if request.user in note.dislikes.all %}text-yellow-500 font-medium{% else %}text-gray-500{% endif %}">{{ note.dislikes.count }}</p>
            </div>

            <div class="flex gap-0.5 items-center">
                <img src="{% static 'core/icons/comment.svg' %}" alt="comment">
                <p class="text-sm text-gray-500">{{ note.tags.count }}</p>
            </div>
        </div>
    </div>

    <div class="flex flex-wrap p-4 gap-3 border-t-2 border-gray-200 rounded-b-xl">
        {% for tag in note.tags.all|slice:":3" %}
            <p class="bg-gray-200 text-sm text-gray-700 shadow px-3 py-1 rounded-md inline-block">{{ tag }}</p>
        {% endfor %}
    </div>
</a>